body {
  background-color: aliceblue;
  margin: 0.5px;
  padding: 15px;
  display: block;
}

.navbar {
  background-color: rgb(18, 216, 216);
  display: flex;
  position: top;
  justify-content: space-between;
  height: 200px;

}
.nav-link {
  color: black;
  text-align: center;
  padding-top: 30px;
  margin: 30px;
  
}
.nav-link.active {
  color: red;
}

h1,
h2,
h3 {
  margin: 8.25px 0;
}

h1 {
  font-size: 18px;
  color: blue;
  text-align: center;
  margin: 50px;
  padding-top: 50px;
}

h2 {
  padding: 3px;
  margin: 10px;
  font-size: 25px;
  color: rgb(38, 38, 100);
  text-align: justify;
}
.h2-2 {
  text-align: center;
}
h3 {
  font-size: 14px;
  color: black;
}

.col-1 {
  flex: 1;
}

.col-2 {
  flex: 2;
  text-align: center;
}

.block {
  background-color: rgb(93, 119, 194);
  padding: 16px;
  margin: 11.2px;
  border-radius: 16px;
}

.row.center {
  align-items: right;
}

.image {
  max-width: 250px;
  height: 150px;
}

button {
  font-size: 12.8px;
  padding: 3.2px;
  margin: 1.6px;
  border-radius: 16px;
  background-color: rgb(136, 93, 36);
  cursor: pointer;
}

.text-right {
  text-align: right;
}

.form {
  margin-block: 200px;
  padding-left: 300px;
  flex-direction: column;
  text-align: justify;
}
.addcar {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 20px;
}
.form-1 {
  display: flex;
  padding: 10px;
  margin-bottom: 15px;
  width: 500px;
  border-radius: 10px;
}
.sub {
  display: flex;
  background-color: rgb(197, 186, 186);
  width: 70px;
  text-decoration: none;
  color: rgb(13, 13, 216);
}
.label-text {
  color: blue;
}
